.banner {
    ion-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 8px;
}

.resume {
    font-style: italic;
    color: #555;
    font-size: 16px;
    margin-bottom: 16px;
}

.article-body {
    font-size: 16px;
    line-height: 1.6;
    color: #333;

    p {
        margin-bottom: 1em;
    }
}

.article-footer {
    font-size: 12px;
    color: #888;
}

.back-button {
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
  }
  