<app-header></app-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-segment value="statements" [(ngModel)]="segment">
        <ion-segment-button value="statements">
          <ion-label>Extratos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="receipts">
          <ion-label>Recibos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    @if (segment == 'statements') {
      <div>
        <ion-card-content>
          <ion-list>
            @for (report of reports; track report) {
              <ion-item button="true" (click)="openPdf(report.id)">
                <ion-label>
                  Semana {{ report.week.number }} de {{ report.week.tvde_month.year.name }}
                </ion-label>
              </ion-item>
            }
          </ion-list>
        </ion-card-content>
      </div>
    }
    @if (segment == 'receipts') {
      <div>
        <ion-card-content>
          @for (receipt of receipts; track receipt) {
            <ion-list>
              <ion-item button="true" (click)="openReceipt(receipt.file.original_url)">
                <ion-label>
                  {{ receipt.created_at | date }} - {{ receipt.value }}€
                </ion-label>
                <ion-note slot="end">{{ receipt.paid == 1 ? 'Pago' : '' }}</ion-note>
              </ion-item>
            </ion-list>
          }
        </ion-card-content>
      </div>
    }
  </ion-card>

</ion-content>
<app-chat></app-chat>