<ion-header>
  <ion-toolbar color="primary">

    @if (menu_button) {
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    }

    @if (back_button) {
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text=""></ion-back-button>
      </ion-buttons>
    }

    <ion-title class="ion-text-center">
      <ion-img src="../../../assets/logo-header.png" class="logo-header"></ion-img>
    </ion-title>

    @if (login_button) {
      <ion-buttons slot="end">
        <ion-button (click)="login()">
          <ion-icon name="log-in-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    }

    @if (logout_button) {
      <ion-buttons slot="end">
        <ion-button (click)="onLogout()">
          <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    }

  </ion-toolbar>
</ion-header>