<app-public-header></app-public-header>

<ion-content class="ion-padding">
  @if (!started) {
    <ion-text color="medium">
      <p>Antes de começarmos, por favor introduza o seu email:</p>
    </ion-text>
    <ion-item>
      <ion-input [(ngModel)]="email" type="email" placeholder="exemplo@email.com"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="startChat()">Iniciar Conversa</ion-button>
  }

  @if (started) {
    <div class="chat-container" #chatBox>
      @for (msg of conversation; track msg) {
        <div>
          @if (msg.role === 'user') {
            <ion-chip color="success" class="user-message">
              <ion-label>{{ msg.content }}</ion-label>
            </ion-chip>
          }
          @if (msg.role === 'assistant') {
            <ion-chip color="danger" class="assistant-message">
              <ion-label>{{ msg.content }}</ion-label>
            </ion-chip>
          }
        </div>
      }
    </div>
  }
</ion-content>

@if (started) {
  <ion-footer>
    <ion-toolbar>
      <ion-item class="no-lines">
        <ion-input [(ngModel)]="message" placeholder="Escreva a sua pergunta..." (keyup.enter)="sendMessage()" [disabled]="loading"></ion-input>
        <ion-button slot="end" (click)="sendMessage()" [disabled]="loading">
          @if (loading) {
            <ion-spinner name="dots"></ion-spinner>
          }
          @if (!loading) {
            <span>Enviar</span>
          }
        </ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
}